@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="width: 15%">
        <NavMenu />
    </div>
    <main style="width: 85%">
        <div class="top-row px-4 bg-dark" style="heigth: 10vh">
            <h2 class = "text-white">Laboratory work #2</h2>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
